/* navbar */
.navbar {
	display: flex;
	padding: 30px 0;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(245, 255, 249);
}

.first {
	display: flex;
	align-items: center;
	gap: 20px;
}

.links a {
	font-family: Gilroy-Regular;
	text-decoration: none;
	padding: 0 5px;
	color: #969194;
	transition: all 0.2s !important;
}

.links a:hover {
	color: #0066a1;
	font-size: 20px;
}

.active-link {
	color: #144460;
}

.contact {
	display: flex;
}

/* socials */
.socials {
	display: flex;
	gap: 15px;
	margin-right: 35px;
}

.socials a {
	transition: all 0.5s !important;
}

.socials a:hover {
	transform: translateY(-5px);
}

/* primary-button */
.primary-button {
	font-family: Gilroy-Regular;
	height: 40px;
	border-color: rgb(8, 173, 78) !important;
	background-color: #fff;
	border-width: 2px;
	border-radius: 15px 0;
	padding: 4px 24px 0px;
	font-size: 17px;
	color: rgb(8, 173, 78);
	text-transform: uppercase;
}

.primary-button:hover {
	color: #fff;
	background-color: rgb(68, 173, 78);
}

.highlight {
	background-color: rgb(68, 173, 78) !important;
	color: #fff !important;
}

.highlight:hover {
	background-color: #fff !important;
	color: rgb(68, 173, 78) !important;
}

/* result-card */
.card-content {
	max-width: 250px;
	display: flex;
	font-family: Gilroy-Regular;
	gap: 15px;
}

.numbers {
	font-size: 2.5rem;
	font-weight: 400 !important;
	margin: 0;
	color: #144460;
}

.title-card {
	color: #144460;
}

/* course cards */
.card {
	font-family: Gilroy-Regular;
	box-shadow: 10px 10px 50px 0 rgba(198, 217, 255, 0.3);
	border-radius: 60px;
	padding: 3rem;
	color: #144460;
}

/* swiper */
.swipper_wrapper {
	padding-top: 50px;
	background-color: rgb(245, 255, 249);
	padding-bottom: 100px;
}
.main-swapper {
	user-select: none;
	cursor: grab;
}
.slider-title {
	color: #144460;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.125;
	margin-bottom: 1.5rem;
	text-align-last: center;
}

.slider-desc {
	color: #144460;
	margin-bottom: 3.5rem;
	font-size: 1.2rem;
	text-align-last: center;
}

.swipper-content {
	border: #144460 solid 2px;
	background-color: #fff;
	width: 100%;
	padding: 20px 200px;
	border-radius: 30px;
}

.swipper-content-title {
	font-size: 1.2rem;
	color: #144460;
	margin-bottom: 1.5rem;
}

.swipper-content-desc {
	color: #144460;
}

/* extras item classes */
.extras-item {
	display: flex;
	gap: 150px;
	align-items: center;
	justify-content: center;
}

.reverse {
	flex-direction: row-reverse;
	text-align: right;
}

.extras-text {
	max-width: 450px;
	padding: 15px;
}

.extras-text h1 {
	color: green;
}

/* teacher-card */
.teacher-card {
	display: flex;
	max-width: 550px;
	background: #ffffff !important;
	box-shadow: 10px 10px 50px rgba(198, 217, 255, 0.3) !important;
	border-radius: 50px !important;
	margin-bottom: 30px;
}

.teacher-card img {
	border-radius: 50%;
}

.teacher-name {
	color: #144460;
	font-size: 1.25rem;
}

.teacher-job {
	font-size: 1rem;
	color: #aba7a7;
	margin-bottom: 1rem;
}

.teacher-desc {
	font-size: 1rem;
	color: #144460;
}
